// Place all the styles related to the API::Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.comment {
  padding: 10px 15px 12.5px 48px;
  background-color: /*honeydew; rgba(152, 251, 152, 0.1);*/ aliceblue;
  border: lightgray 1px solid;
  border-top: 0;
}

.comment:hover .delete-button {
  visibility: visible;
  cursor: pointer;
}

.comment-form {
  border-radius: 0 0 5px 5px;
  background-color: /*palegreen;*/ rgba(152, 251, 152, 0.6);
}

.comment-form:hover, .comment-form:focus-within {
  background-color: palegreen;
}

.comment-input {
  resize: none;
  width: 316px;
  height: 24px;
  padding: 6px 1px 4px 10px;
  margin: 0 8px 0 10px;
  background-color: white;
  border-radius: 25px;
  box-shadow: 0 0 1px lightgray;
}

.comment-body {
  margin: 2.5px 0 0 9px;
}

.comment-button {
  color: green;
  cursor: pointer;
}
