// Place all the styles related to the API::Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.px40 {
  padding-top: 40px;
}

.px15 {
  padding-top: 15px;
  background-color: ghostwhite;
}

.hover-dark {
  color: whitesmoke;
  border: 1px whitesmoke solid;
  border-radius: 5px;
}

#flush {
  border-radius: 0;
}

.hover-dark:hover {
  border-color: gray;
  background-color: #eee9e9;
  box-shadow: 0 0 1px black;
  color: #606060;
}

.post {
  margin-top: 15px;
  padding: 17.5px 15px 12.5px;
  background-color: white;
  border: lightgray 1px solid;
  border-radius: 5px 5px 0 0;
}

.post-form {
  padding: 18px 15px 9px 20px;
  // padding: 20px 15px 17.5px 20px;
  background-color: /*limegreen; springgreen; palegreen;*/ rgba(152, 251, 152, 0.8);
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 1px lightgray;
}

.post-form:hover, .post-form:focus-within {
  background-color: springgreen;
}

.post-form:hover .post-input::placeholder, .post-form:focus-within .post-input::placeholder {
  color: black;
}

.post-input {
  resize: none;
  width: 392px;
  min-height: 60px;
  padding: 0 0 15px;
  margin-right: 7px;
  font-weight: 600;
  text-shadow: 0 0 1px white;
}

.post-input::placeholder {
  color: rgba(0, 0, 0, 0.7);
  text-shadow: 0 0 1px white;
  font-weight: 600;
}

.post-button {
  color: green;
  cursor: pointer;
}

.absolute {
  position: absolute;
}

.post-author {
  margin-bottom: 7.5px;
  padding-left: 10px;
}

.likes {
  font-size: 18px;
  padding-right: 6px;
}

.likes + i {
  padding-right: 9px;
  cursor: pointer;
}

.likes + i:hover {
  color: palegreen;
}

.likes + i.hover-red:hover {
  color: red;
}

.post-body {
  display: inline-block;
  text-align: justify;
  // padding-left: 33px;
  max-width: 360px;
  overflow: auto;
}

.delete-button {
  display: inline;
  visibility: hidden;
  // margin-right: -1px;
}

.shift-down {
  margin-top: 4.5px;
}

.post:hover .delete-button {
  visibility: visible;
  cursor: pointer;
}
