// Place all the styles related to the API::Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-info-div {
  position: absolute;
  top: 150px;
  width: 100%;
  margin: 0 25px;
  max-width: 850px;
}

#username {
  font-size: 22.5px;
  color: white;
  font-weight: 400;
  text-shadow: 0 0 10px black;
  margin-left: 15px;
}

.cover-photo {
  height: 325px;
  border: 1px solid black;
  border-top: 0;
  position: relative;
}

.cover-photo-button {
  position: relative;
  top: 60px;
  left: 20px;
}

#select-cover-photo {
  display: none;
}

.profile-pic {
  height: 150px;
  width: 150px;
  box-shadow: 0 0 10px gray;
  border-radius: 10px;
}

#select-profile-pic {
  display: none;
}

.button-to-add {
  font-size: 20px;
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: lowercase;
  color: white;
  text-shadow: 0 0 1px black;
  font-weight: 600;
  background-color: palegreen;
  width: 85px;
  padding: 4px 0;
  text-align: center;
  border-radius: 15px;
  cursor: pointer;
}

.button-to-add:hover {
  background-color: green;
  text-shadow: 0 0 5px black;
}
