// Place all the styles related to the API::Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-info-div {
  position: absolute;
  top: 150px;
  margin: 0 25px;
}

#username {
  font-size: 22.5px;
  color: white;
  font-weight: 400;
  text-shadow: 0 0 10px black;
  margin-left: 15px;
}

.fa-link {
  font-size: 15px;
  color: palegreen;
  cursor: pointer;
  text-shadow: none;
  visibility: hidden;
}

.visible {
  visibility: visible;
}

#username:hover .fa-link {
  visibility: visible;
}

#custom-link-form {
  display: inline;
  position: absolute;
}

#custom-link-form input[type='url'] {
  width: 140px;
}

#custom-link-form input[type='submit'] {
  background-color: palegreen;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-shadow: 0 0 0.5px white;
  position: relative;
  top: 1px;
  border: 0;
  box-shadow: 0 0 2px black;
}

#custom-link-form input[type='submit']:hover {
  background-color: springgreen;
}

.cover-photo {
  height: 325px;
  overflow: hidden;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 0 2px black;
  position: relative;
}

.cover-photo-button {
  position: relative;
  top: 60px;
  left: 20px;
}

#select-cover-photo {
  display: none;
}

#cover-edit {
  position: relative;
  // top: -280px;
  top: -32px;
  left: 866px;
  visibility: hidden;
}

.cover-photo:hover #cover-edit, .user-info-div:hover #cover-edit {
  visibility: visible;
}

.fa-pencil-square-o {
  cursor: pointer;
}

#profile-edit {
  position: relative;
  top: -147.5px;
  // top: -27px;
  left: 116px;
  visibility: hidden;
}

.profile-pic:hover #profile-edit {
  visibility: visible;
}

.profile-pic {
  height: 150px;
  width: 150px;
  box-shadow: 0 0 10px gray;
  border-radius: 10px;
  cursor: pointer;
}

#select-profile-pic {
  display: none;
}

.plus-button {
  font-size: 20px;
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: lowercase;
  color: white;
  text-shadow: 0 0 1px black;
  font-weight: 600;
  background-color: /*palegreen;*/ springgreen;
  width: 85px;
  padding: 4px 0;
  text-align: center;
  border-radius: 15px;
  cursor: pointer;
}

.plus-button:hover {
  background-color: green;
  text-shadow: 0 0 3px black;
}

.friend-button {
  position: absolute;
  background-color: springgreen;
}
