/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
header {
  background-color: forestgreen;/*royalblue;*/
  color: white;
}

h1 {
  font-size: 38px;
  font-weight: bold;
}

h2 {
  font-size: 35px;
  font-weight: 600;
}

.ghostwhite {
  background-color: ghostwhite;
  height: 750px;
}

.palegreen {
  color: palegreen;
}

.ghostwhite-to-bottom {
  background-color: ghostwhite;
  min-height: 775px;
  height: 100%; /* not working */
}

.center-900px {
  margin: 0 auto;
  min-width: 675px;
  max-width: 900px;
}

.logo-font {
  font-family: 'Open Sans', sans-serif;
}

.pointer {
  cursor: pointer;
}

.inline-block {
  display: inline-block;
}

.flex {
  display: flex;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.flex-middle {
  display: flex;;
  align-items: center;
}

.flex-bottom {
  display: flex;
  align-items: flex-end;
}

.flex-column {
  display: flex;
  flex-direction: column;
}
