/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
header {
  background-color: royalblue;
  color: white;
}

h1 {
  font-size: 32px;
  font-weight: bold;
}

.leftmost {
  margin: 30px 47.5px 0 17.5px;
}

.pretty-font {
  font-family: 'Indie Flower', cursive;
}

.lavender-to-bottom {
  background-color: lavender;
  height: 800px;
}

.inline-block {
  display: inline-block;
}

.gray-button {
  background-color: lightgray;
  border: 0;
  padding: 5px 0;
  margin-top: 1px;
}

.lightcyan-button {
  background-color: lightcyan;
  border: 1px solid lightcyan;
  font-weight: bold;
  color: midnightblue;
  font-size: 11px;
}

.white {
  color: white;
  text-shadow: 1px 1px 2px black;
}

.max-size {
  font-size: 18px;
  width: 80%;
  margin-left: 17.5px;
  border-radius: 25px;
}

.center-900px {
  margin: 0 auto;
  min-width: 600px;
  max-width: 900px;
}

.logo-font {
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.flex-middle {
  display: flex;;
  align-items: center;
}

.gateway-header {
  padding: 10px;
  border-bottom: 1px solid black;
}
