.gateway-header {
  padding: 15px 0;
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
}

.gateway-logo {
  font-size: 40px;
  text-align: center;
  /*text-transform: uppercase;*/
  width: 78px;
  padding: 0 10px 5px;
  border-radius: 12.5px;
}

.gateway-logo:hover {
  box-shadow: 0 0 6.5px black;
}

.gateway-footer div {
  margin: 10px 0;
}

.gateway-footer span {
  font-size: 20px;
  margin-top: 3px;
  font-weight: 600;
}

.fa-linkedin-square {
  color: steelblue;
}

.gateway-form {
  height: 60px;
}

.gateway-form button:focus, .gateway-form button:hover {
  box-shadow: 0 0 3px black;
}

.gateway-form button p {
  font-size: 14px;
}

.inputs-div {
  position: relative;
  left: -8.75px;
}

.inputs-div input {
  font-size: 14px;
  font-weight: 500;
  padding: 1.5px 0 1.5px 4px;
}

.inputs-div > input:first-of-type {
  margin-bottom: 3px;
}

/*SOURCE: http://apps.eky.hk/css-triangle-generator/ */
#sign-up {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 36px 55px 36px;
  border-color: transparent transparent palegreen transparent;
  border-radius: 0;
  position: relative;
}

#sign-up p {
  color: black;
  font-size: 16px;
  font-weight: bold;
  font-family: 'Ubuntu', sans-serif;
  position: relative;
  left: -15px;
  top: 19px;
}

.bump-left {
  padding-left: 4px;
}

#sign-in {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 32px 0 32px 55px;
  border-color: transparent transparent transparent palegreen;
  border-radius: 0;
}

#sign-in p {
  color: black;
  font-size: 16px;
  font-weight: bold;
  font-family: 'Ubuntu', sans-serif;
  position: relative;
  left: -53px;
  top: -17.5px;
}

.bump-more-left {
  padding-left: 5px;
}

.gateway-errors {
  font-family: 'Source Sans Pro', sans-serif;
  margin-right: 20px;
  background-color: red;
  border: 2px solid black;
  border-radius: 5px;
  padding: 5px;
  box-sizing: border-box;
  text-align: right;
  cursor: pointer;
  max-height: 55px;
  overflow: auto;
}

/*.gateway-errors:after {
  content: '';
  position: absolute;
  bottom: 40%;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent transparent black;
}*/

.hidden {
  display: none;
}

.features-circle {
  width: 500px;
  height: 500px;
  border: 0.5px solid #eee9e9;
  border-radius: 100%;
  box-shadow: 0 0 7.5px #cdc9c9;
  position: relative;
  top: 45px;
}

/* rethink gray-button/hover color scheme */
.features-circle:hover {
  /*background-color: #eee9e9;*/
  background: radial-gradient(ghostwhite, chartreuse);
}

.gray-button {
  font-family: 'Ubuntu', sans-serif;
  color: white;
  text-shadow: 0.5px 0.5px 1.5px black;
  background: radial-gradient(#eee9e9, #cdc9c9);
  padding: 7.5px 5px;
  text-align: center;
  font-size: 21px;
  width: 125px;
  border: 1px solid ghostwhite;
  border-radius: 25px;
  margin-top: 17.5px;
  box-shadow: 0 0 5px ghostwhite;
}

.features-circle:hover .gray-button {
  border-color: ghostwhite;
}

.features-circle:hover .gray-button:hover {
  background: radial-gradient(dimgray, black);
  border-color: black;
  box-shadow: 0 0 0;
}

.icons-div i {
  margin-top: 16px;
}

.features-div {
  margin-left: 15px;
}

.features-div h3 {
  font-size: 20px;
  display: inline-block;
  margin-top: 22.5px;
  position: relative;
  top: -4px;
}

.feature span {
  font-weight: 600;
}
