.gateway-header {
  padding: 15px 0;
}
/*everything 33% bigger*/
.gateway-logo-size {
  font-size: 40px;
}

.top-padding {
  padding-top: 25px;
}

.col-60pct {
  width: 59.5%;
  box-sizing: border-box;
  padding: 35px 0 0 17.5px;
  font-family: 'Source Sans Pro', sans-serif;
}

.col-40pct {
  min-width: 362.5px;
  width: 40%;
  box-sizing: border-box;
  padding-left: 20px;
}

/*.input-box > input:first-of-type {
  margin-bottom: 2px;
}
.input-box2 > input:first-of-type {
  margin-bottom: 2px;
}

.input-box {
  position: relative;
  top: 5px;
}
.input-box2 {
  padding-top: 20px;
  position: relative;
  left: 45px;*/
  /*top: 5px;*/
/*}*/

/*SOURCE: http://apps.eky.hk/css-triangle-generator/ */
/*#sign-up {
  color: black;
  font-size: 11px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 28px 45px 28px;
  border-color: transparent transparent palegreen transparent;
  border-radius: 0;
  position: relative;
  top: -30px;
  left: -10px;*/
  /*top: 1px;
  left: 11px;*/
/*}*/

/*#sign-up p {
  position: relative;
  left: -11px;*/
  /*left: -10px;*/
  /*top: 15px;
}*/

/*.bump-left {
  padding-left: 4px;*/
  /*padding-left: 2px;*/
/*}*/

/*.bump-more-left {
  padding-left: 5px;
}*/

/*#sign-in p {
  position: relative;
  left: -43.5px;
  top: -13px;
}*/

/*#sign-in {
  color: black;
  font-size: 11px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 25px 0 25px 48px;
  border-color: transparent transparent transparent palegreen;
  border-radius: 0;
  position: relative;
  left: -9px;
}*/

.gateway-errors {
  font-family: 'Source Sans Pro', sans-serif;
  margin-left: 10px;
  position: absolute;
  /*right: 32.5%;*/
  right: 40%;
  top: 15px;
  z-index: 2;
  background-color: red;
  border: 2px solid black;
  border-radius: 5px;
  padding: 5px;
  box-sizing: border-box;
  text-align: right;
  cursor: pointer;
}

.hidden {
  display: none;
}

.gray-button {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: gainsboro;
  border: 0;
  padding: 5px 0;
  margin-left: 1px;
  position: relative;
  top: 3px;
}

.max-size {
  font-size: 18px;
  width: 175px;
  border-radius: 25px;
  margin-top: 15px;
  /*margin-left: 40px;*/
}

.white {
  color: white;
  text-shadow: 0.5px 0.5px 2px black;
}

.feature {
  font-size: 20px;
  display: inline-block;
  margin-top: 20px;
  position: relative;
  top: -4px;
}

.feature span {
  font-weight: 600;
}

.pretty-font {
  font-family: 'Indie Flower', cursive;
  color: darkblue;
  margin-left: 19px;
}

.byline {
  font-size: 20px;
  padding: 0px 0 15px 50px;
}

.signInForm input {
  height: 21px;
  border: 1px black solid;
}

.signInForm button {
  height: 24px;
  position: relative;
  top: -1px;
  background-color: darkblue;
  color: white;
  border: 0;
  border-radius: 1px;
}

.signUpForm {
  padding-left: 50px;
}

.signUpForm input {
  margin: 8px 0 0 10px;
  height: 24px;
  width: 175px;
  border-radius: 5px;
  padding: 2px;
  border: 1px lightgray solid;
}

.signUpForm button {
  margin-top: 15px;
  margin-left: 60px;
  background-color: lightblue;
  padding: 6px 10px 7px 10px;
  font-size: 16px;
  font-weight: bold;
  color: snow;
  border: 0;
}
