.nav {
  height: 35px;
}

.header-logo {
  font-size: 26px;
  background-color: white;
  color: royalblue;
  margin: 5px 0 6px 5px;
  padding: 0 5px 0 8px;
  border-radius: 1px;
  line-height: 100%;
}

.header-logo a {
  position: relative;
  top: 2px;
}
