.nav {
  height: 40px;
}

.header-logo {
  font-size: 26px;
  height: 25px;
  background-color: white;
  color: green;
  margin: 8px 0 0 19px;
  padding: 0 5px 0 8px;
  border-radius: 1px;
  line-height: 100%;
}

.fa-sign-out {
  margin-right: 6.5px;
}

.header-logo a {
  position: relative;
  top: 2px;
}

.nav nav {
  margin: 7.5px 7.5px 0 0;
}

.nav nav img {
  height: 25px;
  width: 25px;
  border-radius: 100%;
}

.palegreen {
  color: palegreen;
}
