.nav {
  height: 40px;
  border-bottom: 0.5px darkblue solid;
}

.header-logo {
  font-size: 26px;
  height: 25px;
  background-color: white;
  color: royalblue;
  margin: 8px 0 0 19px;
  padding: 0 5px 0 8px;
  border-radius: 1px;
  line-height: 100%;
}

.fa-sign-out {
  margin-right: 6.5px;
}

.header-logo a {
  position: relative;
  top: 2px;
}

.nav nav {
  margin-right: 7.5px;
}

.nav nav img {
  height: 25px;
  width: 25px;
  border-radius: 100%;
}

.darkblue {
  color: darkblue;
}
